.hero-equip-grid {
  .hero-equip-grid-container {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .hero-equip-grid-item {
      margin: 3px;
    }
  }
}
