.hero-equip-grid {
  .hero-equip-grid-container {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .hero-equip-grid-item {
      margin: 3px;
    }
  }
}

.hero-equip-grid-popover {
  padding: 0;

  .bp3-popover.bp3-popover-content-sizing .bp3-popover-content {
    padding: 0;
  }
}
