$space: 8px;

.yyx-space-h {
  margin-right: $space;
}

.yyx-space-v {
  margin-bottom: $space;
}

table.yyx-prop-table {
  tbody > tr:first-child {
    td {
      box-shadow: none;
    }
  }

  tbody > tr > td:first-child {
    font-weight: bold;
    width: 100px;
  }
}

.yyx-hide {
  display: none;
}

.yyx-padding {
  padding: $space;
}

.w-100p {
  width: 100%;
}

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $class == sm {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: 1200px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}
