$space: 8px;

.yyx-space-h {
  margin-right: $space;
}

.yyx-space-v {
  margin-bottom: $space;
}

table.yyx-prop-table {
  tbody > tr:first-child {
    td {
      box-shadow: none;
    }
  }

  tbody > tr > td:first-child {
    font-weight: bold;
    width: 100px;
  }
}

.yyx-hide {
  display: none;
}

.yyx-padding {
  padding: $space;
}
